//variables colores
$color-primario: #F7F6F2;
$color-secundario: #2D2D2D;
$color-madera-detalle: #8B5E34;
$color-verde-detalle: #4A5D4E;
$verde-menta: #A3B899;

.titulo {
    color: $color-primario;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.portada{
    display: flex;
    flex-direction: column;
    padding:40px;
    justify-content: center;

    .container{
        padding: 50px;
    }

    .boton {
        background-color: $color-madera-detalle;
        font-weight: bold;
        color: $color-secundario;
        
    }
    .boton:hover{
        background-color: $color-verde-detalle;
        color: $color-primario;
    }
}
.navegacion {
    background-color: $color-secundario !important;


    .container-fluid {
        .icono {
            img {
                width: 60px;
                height: auto;
            }
        }

        .nav-scss {
            .item-scss {
                display: flex;
                padding: 10px 15px;

                .link-scss.nav-link {
                    transition: 300ms;
                    color: $color-primario;

                    &:hover {
                        color: $verde-menta;
                    }
                }
            }
        }

        .boton {
            background-color: $color-verde-detalle !important;
            transition: 300ms;

            &:hover {
                color: $color-secundario;
            }
        }
    }

    .boton {
        background-color: $color-verde-detalle !important;
        transition: 300ms;

        &:hover {
            color: $color-secundario;
        }
    }
}

