//variables colores
$color-primario: #F7F6F2;
$color-secundario: #2D2D2D;
$color-madera-detalle: #8B5E34;
$color-verde-detalle: #4A5D4E;


.titulo {
    color: $color-primario;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.portada{
    display: flex;
    flex-direction: column;
    padding:40px;
    justify-content: center;
    margin-bottom: 60px;

    .container{
        padding: 50px;
    }

    .boton {
        background-color: $color-madera-detalle;
        font-weight: bold;
        color: $color-secundario;
        
    }
    .boton:hover{
        background-color: $color-verde-detalle;
        color: $color-primario;
    }
}

// footer

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    text-align: center;
    gap: 45px;

    .contenido-footer {
        display: flex;
        flex-direction: column;
        color: $color-primario;
        height: 100%;
        text-align: start;
        font-size: 13px;

        ul {

            li {
                list-style: none;
                text-decoration: none;
                line-height: 3.0;

                a {
                    cursor: pointer;

                    i{
                        color: $color-madera-detalle;
                        padding: 7px;
                    }
                }

                a:hover {
                    color: $color-verde-detalle;
                    transition: 0.3s;
                }
            }
        }
    }

    /*.info-footer {
        display: flex;
        flex-direction: column;
        color: $color-primario;
        height: 100%;
        text-align: start;
        font-size: 12px;


    }*/
}