html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main[role=main] {
  flex: 1 0 auto;
}

.titulo {
  color: #F7F6F2;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}

.portada {
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-image: url("../img/carpinteriafinal.png");
  background-size: cover;
  align-items: center;
}
.portada .container {
  padding: 50px;
}
.portada .boton {
  background-color: #8B5E34;
  font-weight: bold;
  color: #2D2D2D;
}
.portada .boton:hover {
  background-color: #9e5720;
  color: #F7F6F2;
}

.navegacion {
  background-color: #2D2D2D !important;
}
.navegacion .container-fluid .icono img {
  width: 60px;
  height: auto;
}
.navegacion .container-fluid .nav-scss .item-scss {
  display: flex;
  padding: 10px 15px;
}
.navegacion .container-fluid .nav-scss .item-scss .link-scss.nav-link {
  transition: 300ms;
  color: #F7F6F2 !important;
}
.navegacion .container-fluid .nav-scss .item-scss .link-scss.nav-link:hover {
  color: #9e5720 !important;
}
.navegacion .container-fluid .boton {
  background-color: #8B5E34 !important;
  color: #F7F6F2 !important;
  transition: 300ms;
}
.navegacion .container-fluid .boton:hover {
  background-color: #9e5720 !important;
}
.navegacion .buscador input {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 6px 15px;
  width: 450px;
}
.navegacion > .boton {
  background-color: #8B5E34 !important;
  color: #F7F6F2 !important;
  border: none;
}
.navegacion > .boton:hover {
  background-color: #9e5720 !important;
}

.footer {
  flex-shrink: 0;
  position: relative !important;
  bottom: auto !important;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  text-align: center;
  gap: 45px;
  background-color: #2D2D2D;
  width: 100%;
}
.footer .iconosredes a {
  border: 1px solid gray;
  border-radius: 40px;
  margin: 5px;
  padding: 20px;
  color: #A3B899;
}
.footer .iconosredes a i {
  font-size: 20px;
  font-weight: bold;
}
.footer .iconosredes a:hover {
  transition: 0.3s;
  color: #9e5720;
  background-color: #F7F6F2;
}
.footer .iconosredes a:nth-child(1) {
  color: #E1306C;
}
.footer .iconosredes a:nth-child(2) {
  color: #25D366;
}
.footer .iconosredes a:nth-child(3) {
  color: #1877F2;
}
.footer .contenido-footer {
  display: flex;
  flex-direction: column;
  color: #F7F6F2;
  height: 100%;
  text-align: start;
  font-size: 13px;
}
.footer .contenido-footer ul li {
  list-style: none;
  text-decoration: none;
  line-height: 3;
}
.footer .contenido-footer ul li a {
  cursor: pointer;
}
.footer .contenido-footer ul li a i {
  color: #8B5E34;
  padding: 7px;
}
.footer .contenido-footer ul li a:hover {
  color: #9e5720;
  transition: 0.3s;
}

.formulario {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.formulario .imagenformulario img {
  width: 100px;
  margin: 20px;
}
.formulario .botonformulario {
  background-color: #8B5E34;
}

.section-productos {
  display: flex;
  flex-direction: column;
  padding: 50px;
}
.section-productos .info-productos {
  display: flex;
  flex-direction: column;
  padding-left: 140px;
  gap: 10px;
  margin-bottom: 30px;
}
.section-productos .info-productos p {
  font-size: 15px;
}
.section-productos .contenedor-productos .producto .boton-prod {
  background-color: #9e5720;
  border: none;
  color: white;
  /*font-weight: bold;*/
}
.section-productos .contenedor-productos .producto .boton-prod:hover {
  background-color: #8B5E34;
}

.section-nosotros {
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin: 15px;
  gap: 30px;
}
.section-nosotros .img-contenedor img {
  width: 500px;
}
.section-nosotros .info-nosotros {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
}
.section-nosotros .info-nosotros h2 {
  font-size: 45px;
}
.section-nosotros .info-nosotros p {
  font-size: 20px;
  font-weight: bold;
}
.section-nosotros .info-nosotros span {
  color: #9e5720;
}

.estadistica {
  padding: 30px 0;
}
.estadistica .contenedor {
  padding: 20px;
}
.estadistica .contenedor .celda {
  align-items: stretch;
  --bs-gutter-x: 2rem;
  --bs-gutter-y: 1.5rem;
}
.estadistica .contenedor .tarjeta {
  border: 1px solid gray;
  border-radius: 8px;
  border-color: #9e5720;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 300ms;
  height: 100%;
}
.estadistica .contenedor .tarjeta:hover {
  transform: translateY(-10px);
}

.formulario {
  gap: 30px;
}

.nosotrossc .info {
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.nosotrossc .info h2 {
  color: #9e5720;
}
.nosotrossc .info p {
  font-size: 16px;
  font-weight: 500;
  line-height: 2;
}
.nosotrossc .seccionimg img {
  width: 500px;
}

.iconos-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin: 50px;
  gap: 70px;
}
.iconos-info .contenedor-iconos {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  /*border: 1px solid black;*/
}
.iconos-info .contenedor-iconos i {
  color: #9e5720;
  cursor: pointer;
}
.iconos-info .contenedor-iconos span {
  color: #2D2D2D;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
}
.iconos-info .boton-info {
  background-color: transparent;
  border: 2px solid #2D2D2D;
  color: #2D2D2D;
  font-weight: bold;
  width: 150px;
}
.iconos-info .boton-info:hover {
  background-color: #9e5720;
  color: #F7F6F2;
  font-weight: bold;
}

.cards-mision {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px;
  gap: 70px;
}
.cards-mision .info-mision {
  text-align: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cards-mision .info-mision h2 {
  color: #9e5720;
  font-weight: bold;
}
.cards-mision .info-mision p {
  font-weight: 500;
  font-size: 17px;
}
.cards-mision .cartas-contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.cards-mision .carta {
  border: 1.5px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 300px;
  text-align: center;
  gap: 30px;
  padding: 10px;
  height: 250px;
  border-radius: 30px;
  cursor: pointer;
}
.cards-mision .carta p {
  font-weight: 500;
}
.cards-mision .carta:hover {
  background-color: #2D2D2D;
  color: #F7F6F2;
  transition: 0.5s;
}

.empleados-section {
  display: flex;
  flex-direction: column;
  padding: 40px;
  text-align: center;
}
.empleados-section .empleados-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
  margin: 30px;
}
.empleados-section .empleados-info h2 {
  color: #9e5720;
  font-weight: bold;
}
.empleados-section .empleados-info p {
  font-weight: 500;
  font-size: 17px;
}
.empleados-section .empleados-contenedor .empleado {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.empleados-section .empleados-contenedor .empleado i {
  font-size: 50px;
  color: #9e5720;
}
.empleados-section .empleados-contenedor .empleado .boton-empleados {
  background-color: #9e5720;
  border: none;
  color: white;
  width: 150px;
  border: 2px solid transparent;
  font-weight: 600;
}
.empleados-section .empleados-contenedor .empleado .boton-empleados:hover {
  background-color: #F7F6F2;
  color: #2D2D2D;
  font-weight: 600;
  border: 2px solid #2D2D2D;
  transition: 0.5s;
}

.section-cursos {
  padding: 100px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../IMG/banner-cursos.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-cursos .info-cursos {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  color: #F7F6F2;
}
.section-cursos .info-cursos span {
  border: 1px solid #9e5720;
  padding: 5px;
  background-color: #9e5720;
  font-weight: 500;
  border-radius: 30px;
  width: 200px;
}
.section-cursos .info-cursos h1 {
  font-size: 45px;
}
.section-cursos .info-cursos p {
  font-size: 17px;
  font-weight: 500;
}
.section-cursos .botones-cursos {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 40px;
  justify-content: center;
  /*.boton2 {
      text-decoration: none;
      color: $color-primario;
      border: 2px solid $color-primario;
      padding: 7px;
      border-radius: 30px;
  }*/
}
.section-cursos .botones-cursos .boton1 {
  text-decoration: none;
  color: #F7F6F2;
  border: 2px solid #F7F6F2;
  padding: 7px;
  border-radius: 30px;
  font-weight: bold;
}
.section-cursos .botones-cursos .boton1:hover {
  background-color: #F7F6F2;
  color: #9e5720;
  font-weight: bold;
  transition: 0.2s;
}

.section-capacitaciones .cursos-contenedor .curso {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.section-capacitaciones .cursos-contenedor .boton-cursos {
  background-color: #9e5720;
  border: none;
  color: white;
  width: 150px;
  border: 2px solid transparent;
  font-weight: 600;
}
.section-capacitaciones .cursos-contenedor .boton-cursos:hover {
  background-color: #F7F6F2;
  color: #2D2D2D;
  font-weight: 600;
  border: 2px solid #2D2D2D;
  transition: 0.5s;
}
