//variables colores
$color-primario: #F7F6F2;
$color-secundario: #2D2D2D;
$color-madera-detalle: #8B5E34;
$color-marron-detalle: #9e5720;
$verde-menta: #A3B899;
$facebook: #1877F2;
$WHATSAPP:#25D366;
$INSTAGRAM:#E1306C;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main[role="main"] {
    flex: 1 0 auto;
}

.titulo {
    color: $color-primario;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.8);
}



.portada {
    display: flex;
    flex-direction: column;
    padding: 80px;
    background-image: url('../img/carpinteriafinal.png');
    background-size:cover;
    
    align-items: center;
    
   

    .container {
        padding: 50px;
    }

    .boton {
        background-color: $color-madera-detalle;
        font-weight: bold;
        color: $color-secundario;
    }

    .boton:hover {
        background-color: $color-marron-detalle;
        color: $color-primario;
    }
}


.navegacion {
    background-color: $color-secundario !important;

    .container-fluid {
        .icono {
            img {
                width: 60px;
                height: auto;
            }
        }

        .nav-scss {
            .item-scss {
                display: flex;
                padding: 10px 15px;

                .link-scss.nav-link {
                    transition: 300ms;
                    color: $color-primario !important;

                    &:hover {
                        color: $color-marron-detalle !important;
                    }
                }
            }
        }

        .boton {
            background-color: $color-madera-detalle !important;
            color: $color-primario !important;
            transition: 300ms;

            &:hover {
                background-color: $color-marron-detalle !important;
            }
        }
    }

    .buscador {
        input {
            border: 1px solid gray;
            border-radius: 20px;
            padding: 6px 15px;
            width: 450px;
        }
    }

    > .boton {
        background-color: $color-madera-detalle !important;
        color: $color-primario !important;
        border: none;

        &:hover {
            background-color: $color-marron-detalle !important;
        }
    }
}



// footer


.footer {
    flex-shrink: 0;
    position: relative !important;
    bottom: auto !important;
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    text-align: center;
    gap: 45px;
    background-color: $color-secundario;
    width: 100%;

    .iconosredes {
        a {
            border: 1px solid gray;
            border-radius: 40px;
            margin: 5px;
            padding: 20px;
            color: $verde-menta;

            i {
                font-size: 20px;
                font-weight: bold;
            }
        }

        a:hover {
            transition: 0.3s;
            color: $color-marron-detalle;
            background-color: $color-primario;
        }
    }

    .iconosredes {
        a:nth-child(1) {
            color: $INSTAGRAM;
        }

        a:nth-child(2) {
            color: $WHATSAPP;
        }

        a:nth-child(3) {
            color: $facebook;
        }
    }

    .contenido-footer {
        display: flex;
        flex-direction: column;
        color: $color-primario;
        height: 100%;
        text-align: start;
        font-size: 13px;

        ul {


            li {
                list-style: none;
                text-decoration: none;
                line-height: 3.0;

                a {
                    cursor: pointer;

                    i {
                        color: $color-madera-detalle;
                        padding: 7px;
                    }
                }

                a:hover {
                    color: $color-marron-detalle;
                    transition: 0.3s;
                }
            }
        }
    }
}

// Contacto

.formulario {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    .imagenformulario {
        img {
            width: 100px;
            margin: 20px;
        }
    }


    .botonformulario {
background-color:$color-madera-detalle;
       
    }
}




.section-productos {
    display: flex;
    flex-direction: column;
    padding: 50px;

    .info-productos {
        display: flex;
        flex-direction: column;
        padding-left: 140px;
        gap: 10px;
        margin-bottom: 30px;

        h2 {
        }

        p {
            font-size: 15px;
        }
    }


    .contenedor-productos {
        .producto {
            .boton-prod {
                background-color: $color-marron-detalle;
                border: none;
                color: white;
                /*font-weight: bold;*/
                
                    
                
            }

            .boton-prod:hover {
                background-color: $color-madera-detalle;
            }
        }
    }
}


.section-nosotros {
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin: 15px;
    gap: 30px;

    .img-contenedor {
        img {
            width: 500px;
        }
    }
    .info-nosotros {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;

        h2{
            font-size: 45px;
        }
        p{
            font-size: 20px;
            font-weight: bold;
        }
        span {
            color: $color-marron-detalle;
        }
    }
}


.estadistica {
    padding: 30px 0;

    .contenedor {
        padding: 20px;
        
        .celda {
            align-items: stretch;
            --bs-gutter-x: 2rem;
            --bs-gutter-y: 1.5rem;
        }

        .tarjeta {
            border: 1px solid gray;
            border-radius: 8px;
            border-color: $color-marron-detalle;
            padding: 15px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: 300ms;
            height: 100%;

            &:hover {
                transform: translateY(-10px);
            }
        }
    }
}

.formulario {
    gap: 30px;
}


// VISTA SOBRE NOSOTROS //



.nosotrossc {
    .info {
        gap: 30px;
        display: flex;
        flex-direction: column;

        h2 {
            color: $color-marron-detalle;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            line-height: 2.0;
        }
    }

    .seccionimg {
        img {
            width: 500px;
        }
    }

    
}

.iconos-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 50px;
    gap: 70px;

    .contenedor-iconos {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        /*border: 1px solid black;*/

        i {
            color: $color-marron-detalle;
            cursor: pointer;
        }

        span {
            color: $color-secundario;
            font-size: 17px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .boton-info {
        background-color: transparent;
        border: 2px solid $color-secundario;
        color: $color-secundario;
        font-weight: bold;
        width: 150px;
    }

    .boton-info:hover {
        background-color: $color-marron-detalle;
        color: $color-primario;
        font-weight: bold;
    }
}


.cards-mision {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
    gap: 70px;

    .info-mision {
        text-align: center;
        padding: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2 {
            color: $color-marron-detalle;
            font-weight: bold;
        }

        p {
            font-weight: 500;
            font-size: 17px;
        }
    }

    .info-mision {
    }

    .cartas-contenedor {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
    }

    .carta {
        border: 1.5px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 300px;
        text-align: center;
        gap: 30px;
        padding: 10px;
        height: 250px;
        border-radius: 30px;
        cursor: pointer;

        p{
            font-weight: 500;
        }
    }

    .carta:hover{
        background-color: $color-secundario;
        color: $color-primario;
        transition: 0.5s;
    }
}

.empleados-section {
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;

    .empleados-info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 40px;
        margin: 30px;

        h2 {
            color: $color-marron-detalle;
            font-weight: bold;
        }

        p {
            font-weight: 500;
            font-size: 17px;
        }
    }

    .empleados-contenedor {


        .empleado {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            i {
                font-size: 50px;
                color: $color-marron-detalle;
            }

            .boton-empleados {
                background-color: $color-marron-detalle; 
                border: none;
                color: white;
                width: 150px;
                border: 2px solid transparent;
                font-weight: 600;
            }

            .boton-empleados:hover {
                background-color: $color-primario;
                color: $color-secundario;
                font-weight: 600;
                border: 2px solid $color-secundario;
                transition: 0.5s;
            }
        }
    }
}

// VISTA CURSOS Y TALLERES //

.section-cursos {
    padding: 100px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('../IMG/banner-cursos.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    gap: 30px;


    .info-cursos {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 20px;
        color: $color-primario;

        span {
            border: 1px solid $color-marron-detalle;
            padding: 5px;
            background-color: $color-marron-detalle;
            font-weight: 500;
            border-radius: 30px;
            width: 200px;
        }

        h1 {
            font-size: 45px;
        }

        p {
            font-size: 17px;
            font-weight: 500;
        }
    }

    .botones-cursos {
        display: flex;
        flex-direction: row;
        gap: 40px;
        padding: 40px;
        justify-content: center;

        .boton1 {
            text-decoration: none;
            color: $color-primario;
            border: 2px solid $color-primario;
            padding: 7px;
            border-radius: 30px;
            font-weight: bold;
        }

        /*.boton2 {
            text-decoration: none;
            color: $color-primario;
            border: 2px solid $color-primario;
            padding: 7px;
            border-radius: 30px;
        }*/

        .boton1:hover {
            background-color: $color-primario;
            color: $color-marron-detalle;
            font-weight: bold;
            transition: 0.2s;
        }
    }
}

.section-capacitaciones {

    .info-capacitaciones {
        
    }

    .cursos-contenedor {

        .curso {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        .boton-cursos {
            background-color: $color-marron-detalle;
            border: none;
            color: white;
            width: 150px;
            border: 2px solid transparent;
            font-weight: 600;
        }

        .boton-cursos:hover {
            background-color: $color-primario;
            color: $color-secundario;
            font-weight: 600;
            border: 2px solid $color-secundario;
            transition: 0.5s;
        }
    }
}